<div id="<%= dom_id payment1 %>">
  <p>
    <strong>Amount:</strong>
    <%= payment1.amount %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= payment1.description %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= payment1.currency %>
  </p>

</div>
